:root {
  --darkest: #293241;
  --dark: #3d5a80;
  --light: #98c1d9;
  --lightest: #e0fbfc;
  --offwhite: #f7fff7;
  --accent: #ee6c4d;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  color: var(--darker);
  background-color: var(--lightest);
}

header {
  display: flex;
  background-color: var(--accent);
  color: var(--lightest);
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 2em;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-text h7 {
  font-size: x-small;
}

#psi {
  height: 3.2em;
}

nav ul {
  /* Coloring & Fonts */
  color: var(--dark);
  /* Size & Position */
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  /* Coloring & Font */
  background-color: var(--dark);

  /* Size & Position */
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 1em;
  left: auto;
  right: auto;
}

.card h3 {
  color: var(--offwhite);
  margin-bottom: 0.5em;
}

.card .container {
  background-color: var(--offwhite);
  border-radius: 0.2em;
  padding: 0.5em;
}

footer {
  background-color: var(--light);
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding-left: 1.5em;
}

footer #legal {
  /* color: var(--dark); */
  font-weight: 400;
  font-size: 0.5em;
}
