<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Stylesheet and Google Font -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src="../img/psi.svg" alt="CB" id="psi" />
      <div class="logo-text">
        <h1>Counselling Buddy</h1>
        <h7>version 0.1</h7>
      </div>
    </header>
    <nav>
      <ul>
        <!-- Navigation Buttons -->
        <li>Organiser</li>
        <li>Clients</li>
        <li>Tracking</li>
      </ul>
    </nav>
    <main></main>
    <footer>
      <div id="legal">&copy; Counselling Buddy 2020</div>
    </footer>
  </body>
</html>
