<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css"
    />
    <title>cbuddy</title>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-2">Counselling Buddy</h1>
          <h2 class="subtitle is-5 is-black">
            the self-management tool for student therapists
          </h2>
        </div>
      </div>
    </section>
    <hr class="is-paddingless is-marginless" />

    <nav
      class="navbar is-radiusless has-shadow is-info"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item is-hidden" href="#">
          <img
            src="../static/img/psi-white.svg"
            alt="Counselling Buddy"
            width="28"
            height="28"
          />
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>



        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section has-background-white">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="notification is-link">
              <h3 class="title">Scheduling</h3>
              <p>
                Organise your clients by session type, location and referring
                agency
              </p>
            </div>
          </div>
          <div class="column">
            <div class="notification is-success">
              <h3 class="title">Progression</h3>
              <p>
                Track your qualifications and see your progress towards career
                milestones
              </p>
            </div>
          </div>
          <div class="column">
            <div class="notification is-info">
              <h3 class="title">Ethics</h3>
              <p>
                Manage your supervision ratios, CPD requirements and holiday
                allowance
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="is-footer">
      <hr class="is-marginless is-paddingless" />
      <div class="content has-text-centered">
        <p class="is-7 has-text-weight-light">&copy; purplespring 2020</p>
      </div>
    </footer>
  </body>
</html>
